<div  class="container d-flex align-items-center justify-content-center">

  <div >
    <h1 class="text-center"> Hi there </h1>
    <h3 class="text-center"> Please </h3>
    <%= link_to "Sign In", login_path, class: "btn btn-info border border-light border-3 rounded mx-2" %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-success border border-light border-3 rounded mx-2" %>
  </div>



</div>