<div class="container mt-4 bg-info">
  <h1>Hi your Temporary Credentials</h1>
    <p> <%= @user.username %> </p>
    <p> <%= @password %></p>
    <p>Please log in and update your credentials</p>

</div>