<!-- notify message that available in entire site -->
<% if flash[:notice]%>
  <div class="container">
    <div class="alert alert-info mt-4 text-center alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<!-- alert message that available in entire site -->
<% if flash[:alert]%>
  <div class="container">
    <div class="alert alert-danger mt-4 alert-dismissible fade show" role="alert">
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>